src/main/mule/add-library.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="eeb627be-1ca6-4624-a6ce-5d47853eeebe" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.username}" password="${db.password}" database="${db.database}"/>
	</db:config>
	<flow name="post:\library:application\json:library-system-config">
        <logger level="INFO" doc:name="Start" doc:id="8218db2f-646c-45f1-b1a5-acbab534afff" message="Enter into add library flow"/>
		<set-variable value="#[payload]" doc:name="library data setting as variable" doc:id="507e6a37-10dc-4291-86e9-7ffc6a8dfcf4" variableName="input_data"/>
		<db:select doc:name="Select the latest numeric number for library_code" doc:id="184df8ad-2e44-4695-bc17-9296c735e126" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT latest_numeric_number from scholarlibraries.primary_key_manager WHERE table_name='libraries';]]></db:sql>
		</db:select>
		<set-variable value="#[payload[0].latest_numeric_number + 1]" doc:name="Set Variable" doc:id="8299c10c-7b1c-43ea-ae4b-53df1ba8057f" variableName="new_numeric_number"/>
		<db:update doc:name="Update the new numeric number" doc:id="8fe28696-23e7-4094-9107-3ea30b7a0ddd" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE scholarlibraries.primary_key_manager SET latest_numeric_number=:new_numeric_number WHERE table_name='libraries';]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	new_numeric_number: vars.new_numeric_number
}]]]></db:input-parameters>
		</db:update>
		<db:insert doc:name="Insert  library details" doc:id="e030e8f8-b12c-4f0a-b65a-88836c260ba9" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO scholarlibraries.library (library_code,library_branch_name,library_phone_no,library_email,address) VALUES (CONCAT('LID', :new_numeric_number),:library_branch_name,:library_phone_no,:library_email,:address);]]></db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	library_email: vars.input_data.library_email,
	address: vars.input_data.address,
	new_numeric_number: vars.new_numeric_number as String,
	library_branch_name: vars.input_data.library_branch_name,
	library_phone_no: vars.input_data.library_phone_no
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	library_code: "LID" ++ vars.new_numeric_number as String,
	message: "Library details added successfully !"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End" doc:id="89f34cd2-0eb5-48b1-8b81-169f08d2157e" message="Return from add library flow"/>
    
</flow>	
</mule>
