src/main/mule/library-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="library-system-api-httpListenerConfig" basePath="${http.base_path}">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="library-system-api-config" api="library-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
   
    <configuration-properties doc:name="Configuration properties" doc:id="a4b80b55-1d47-4eeb-bbbc-f57c1aa33aad" file="library-property.yaml" />
	<configuration doc:name="Configuration" doc:id="07e184a0-f36e-4db4-9cb6-7aa3f10f0579" defaultErrorHandler-ref="global-error-library-systemError_Handler" />
	<api-gateway:autodiscovery apiId="19219869" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="b64d9ae4-0f39-41d9-ac46-73a7ba2b972f" flowRef="library-system-api-main" />
	<flow name="library-system-api-main">
        <http:listener config-ref="library-system-api-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.errorPhase]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Start" doc:id="22e7ed9c-5819-4801-9f4f-7607b76926ed" message="Application Running....."/>
		<apikit:router config-ref="library-system-api-config" />
		<logger level="INFO" doc:name="End" doc:id="d0ca4c85-83ff-4cbb-8078-33534b88c552" message="Send response successs !!"/>
    </flow>
    
    <flow name="library-system-api-console">
        <http:listener config-ref="library-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="library-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: error.description
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
</mule>
